/* main color: #003a4b  (teal/blue)
use for backgrounds that aren't white

key accent color: #f6872a  (orange)
use for line breaks, headlines

background grey: #323332

common text color: #a5a8ab  (grey)
use for majority of text if not using orange

Tertiary color: #fff (white) */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* SIGNIN PAGE SIGNIN PAGE SIGNIN PAGE */

.signin-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 59, 76, .6);
}

.signin-homepage-video-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

video {
  width: 100vw;
}

.video-background {
  top: 0;
  left: 0;
  background-color: #000;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  -webkit-perspective: 1000;
  /* perspective: 1000; */
  overflow: hidden;
}

.signin-container {
  height: 100vh;
  color: #f6872a;
  width: 84%;
  margin: auto;
  display: flex;
}

.title {
  font-size: 5rem;
  font-weight: bold;
}

.headline {
  color: #fff;
}

.signin.form-elegant {
  width: 38%;
  margin-right: 8rem;
  opacity: .9;
}

.form-title {
  color: #003a4b !important;
}

.custom-signup-input {
  width: 48%;
}

.signin-btn {
  background-color: #f6872a;
}

.fa {
  color: #003a4b;
}

.link {
  color: #003a4b;
}

.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half, .form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

/* NAVIGATION SECTION NAVIGATION SECTION NAVIGATION SECTION */

.navigation {
  width: 100vw;
  background-color: #323332 !important;
  display: flex;
  box-shadow: 0 0 0 0 !important;
}

.navbar-brand {
  color: #f6872a;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #f6872a;
}

.powered-by {
  font-size: .8rem;
}

.nav-item {
  text-decoration: underline;
  font-size: .8rem;
  cursor: pointer;
}

.spot {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 1.1rem;
  background-color: #f6872a;
}

.log-out {
  text-decoration: underline !important;
}

.log-out:hover {
  text-decoration: none !important;
}

/* QUEUE PAGE QUEUE PAGE QUEUE PAGE */

.top-section {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.jumbotron-fluid {
  background-color: #003a4b;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.question {
  font-size: 1.3rem !important;
}

.question-btn {
  font-size: 1.3rem;
  z-index: 0;
}

.list-head {
  background-color: #f6872a;
  color: #fff;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(77, 72, 77, 0.65);
  -moz-box-shadow: 0px 3px 7px 0px rgba(77, 72, 77, 0.65);
  box-shadow: 0px 3px 7px 0px rgba(77, 72, 77, 0.65);
}

.question-list {
  margin-top: 340px;
}

.question-item {
  border-bottom: solid 1px #a5a8ab;
}

.active-item {
  background-color: #d7d8d7;
}

.item-button {
  width: 100%;
}

.answered-btn {
  background-color: #003a4b;
  color: #fff;
}

.answer-section {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.answer-row {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.answer {
  font-style: italic;
}

.ReactCollapse--collapse {
  width: 100% !important;
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ReactCollapse--content {
  width: 100% !important;
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* ARCHIVE PAGE ARCHIVE PAGE ARCHIVE PAGE */

.archive-list {
  margin-top: 0px;
}

@media screen and (max-width: 1200px) {
  .signin-container {
    margin-top: 4rem;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }
  .signin.form-elegant {
    margin-right: 0;
    width: 60%;
  }
}