/* main color: #003a4b  (teal/blue)
use for backgrounds that aren't white

key accent color: #f6872a  (orange)
use for line breaks, headlines

background grey: #323332

common text color: #a5a8ab  (grey)
use for majority of text if not using orange

Tertiary color: #fff (white) */

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* NAVIGATION SECTION NAVIGATION SECTION NAVIGATION SECTION */

.navigation{
  width: 100vw;
  background-color: #323332 !important;
  display: flex;
}

.navbar-brand{
  color: #f6872a;
  font-weight: bold;
  font-size: 3rem;
}

.powered-by{
  font-size: .8rem;
}

.nav-item{
  text-decoration: underline;
}

.spot{
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 1.1rem;
  background-color: #f6872a;
}

/* QUEUE PAGE QUEUE PAGE QUEUE PAGE */

.top-section{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(77,72,77,0.65);
  -moz-box-shadow: 0px 3px 7px 0px rgba(77,72,77,0.65);
  box-shadow: 0px 3px 7px 0px rgba(77,72,77,0.65);
}

.jumbotron-fluid{
  background-color: #003a4b;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.question{
  font-size: 1.3rem !important;
}

.question-btn{
  font-size: 1.3rem;
  z-index: 0;
}

.list-head{
  background-color: #f6872a;
  color: #fff;
}

.question-list{
  margin-top: 444px;
}

.question-item{
  border-bottom: solid 1px #a5a8ab;
}

.active-item{
  background-color: #d7d8d7;
}

.item-button{
  width: 100%;
}
